# Archivos de configuración local y variables con secretos
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.pem
inventario.ini

# Directorio de Terraform
.terraform/

# Archivos de estado
*.tfstate
*.tfstate.*
crash.log
crash.*.log