[defaults]
# Indicamos donde esta el inventario y evita que pregunte "yes/no" por la huella de seguridad cada vez que se conecta a una máquina nueva.
inventory = ../Terraform/inventario.ini
host_key_checking = False